.NavBar {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  align-items: center;

  .navList {
    margin: 0 auto;
    width: 30vw;
    display: flex;
    justify-content: space-between;

    .navLink {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;
      width: 30px;
      .dot {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $grey;
        position: relative;
      }
      .dot::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 1.5rem;
        display: block;
        width: 7vw;
        height: 3px;
        background-color: $grey;
      }
      .dot::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        display: block;
        width: 7vw;
        height: 3px;
        background-color: $grey;
      }

      &.active p {
        color: $secondary-red;
      }
      &.active .dot {
        background-color: $secondary-red;
      }
    }
    p {
      font-size: 14px;
      display: inline-block;
      margin: 1rem 0;
      color: $grey;
    }
  }
}



@include responsive(small) {
  .NavBar {
    .navList {
      .navLink {
        margin: 2rem 0;
        .dot {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
      p {
        display: none;
      }
    }
  }
}
