.generalWrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.installmentBtn {
  cursor: pointer;
  border: 1px solid #eceeef;
  width: 26vw;
  height: 10vh;
  background-color: #fff;
}

.installmentBtn:focus {
  outline: none;
  background-color: #e00d29;
  color: #fff;
}

.installmentBtn:active {
  background-color: #e00d29;
  color: #fff;
}

.Header {
  -webkit-box-shadow: 0 0 10px 10px #eceeef;
          box-shadow: 0 0 10px 10px #eceeef;
  height: 5vh;
}

.Header .headerContent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .headerContent__data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  border-left: 1px solid black;
  padding-left: 1rem;
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: ce;
      -ms-flex-align: ce;
          align-items: ce;
  width: 100%;
  height: 20vh;
  background-color: black;
  color: #eceeef;
  position: absolute;
  bottom: 0;
}

.NavBar {
  margin-top: 2vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar ul {
  margin: 0 auto;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.NavBar ul .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  width: 30px;
}

.NavBar ul .navLink.active p {
  font-size: 1.2rem;
  color: #b61827;
}

.NavBar ul .navLink.active .dot {
  background-color: #b61827;
  width: 22px;
  height: 22px;
}

.NavBar ul p {
  display: inline-block;
  padding: 10px;
}

.NavBar ul .navLine {
  margin: 0 auto;
  position: absolute;
  width: 50vw;
  left: 25%;
  top: 10.5vh;
  z-index: -1;
  height: 3px;
  background-color: #eceeef;
}

.NavBar .dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #eceeef;
}

.Car {
  margin-top: 2vw;
  width: 100%;
  height: 20vh;
  background-color: #eceeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Car .carPrice {
  color: #eb964b;
}

.Customize {
  color: #e00d29;
}

.Customize h4 {
  margin-top: 1vw;
}

.Customize .chooseForm {
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Customize .chooseForm div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Customize .chooseForm div label {
  font-size: 14px;
}

.Customize .chooseForm div input {
  width: 70px;
  height: 25px;
  font-size: 20px;
}

.Customize .chooseForm div input:focus {
  outline: none;
}

.Customize .installmentWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=App.css.map */