.ContactMe {
  .infoPrivacy {
    h4 {
      background-color: $grey;
      margin: 2vh 0;
      padding: 1vh;
     
    }
    p{
        margin-left: 1vh;
    }
    h5{
        margin: 1vh 0;
        margin-left: 1vh;
    }
  }
}
 