.DetailsTable{
    width: 100%;
    .detailsSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grey;
        padding: 1vh 0;
    }
}