.RecapDetails{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button{
        display: flex;
        align-items: center;
        color: $primary-red;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
}